.box1  {
  position: relative;
  width:200px;
  height:100px;
  background-color:Tomato;
  color:Navy;
  text-transform: uppercase;
  text-align: center;
  border-style: solid;
  border-color:LimeGreen;
  border-width:2px 
}
.box2  {
  position: relative;
  left:250px;
  width:200px;
  height:100px;
  background-color:Yellow; 
  color:Navy;
  text-transform: uppercase;
  text-align: center;
  border-style: solid;
  border-color:Tomato;
  border-width:2px
}
.box3  {
  position: relative;
  left:500px;
  width:200px;
  height:100px;
  background-color:LimeGreen;
  color:Navy; 
  text-transform: uppercase;
  text-align: center;
  border-style: solid;
  border-color:LimeGreen;
  border-width:2px
}

